//	全局scss变量，主要定义UI风格设计规范里的颜色
$--ui-color-primary: #00e8fe;					// 用于重要级文字信息，需要特别强调和突出的文字、图标、按钮
$--ui-color-background: #0e1a31; 			// 页面模块的背景色
$--ui-color-border: #314361; 					// 分割线、输入框、边框用色
$--ui-color-background: #0e1a31; 			// 页面模块的背景色
$--ui-font-content: #ffffff; 					// 正文用色